<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML5 Boilerplate</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdn.jsdelivr.net/npm/codemirror@6.65.7/lib/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@6.65.7/lib/codemirror.css">
</head>

<body>
<main class="w-full min-h-screen">
    <section class="pt-[80px] mx-auto w-fit h-full flex gap-8 h-[500px]">
        <div class="border border-2 shrink-0 w-[720px] h-full">
            <textarea id="code" class="w-[720px]">
            </textarea>
            <button id="runButton" class="m-4 p-4 rounded-full bg-blue-400 hover:bg-blue-500 transition-colors text-white">
                Run
            </button>
        </div>
        <textarea id="result" class="mt-[30px] w-[720px] border border-2 shrink-0">
        </textarea>
    </section>
</main>
</body>

<script type="module">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        styleActiveLine: true,
        lineNumbers: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        autoCloseTags: true,
        mode: "htmlmixed",
    });

    runButton.addEventListener('click', () => {
        const code = editor.getValue()

        runButton.innerText = "Loading";
        (
            async () => {
                try {
                    const res = await fetch("/", {
                        method: "POST",
                        body: code
                    })
                    const text = await res.text()
                    result.innerText = text
                    runButton.innerText = "Run"
                } catch (ex) {
                    console.error(ex)
                    runButton.innerText = ex.message()
                    setTimeout(() => runButton.innerText = "Run", 2000)
                }
            }
        )()
    })
</script>

</html>