@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR BEGIN */

:root {
    --sc-thumb-color: rgb(108, 158, 201);
}

html {
    overflow-y: scroll; /* Всегда показывать вертикальный скроллбар */
    scrollbar-width: thin; /* Задать фиксированную ширину скроллбара */
    scrollbar-color: var(--sc-thumb-color) transparent;
}

html::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sc-thumb-color);
    border-radius: 6px;
    border: 3px solid #fff;
}

/* SCROLLBAR END */


/* Y-JS SELECTION STYLES */

.yRemoteSelection {
    background-color: rgb(250, 129, 0, .5)
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: orange solid 2px;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    height: 100%;
    box-sizing: border-box;
}

.yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid orange;
    border-radius: 4px;
    left: -4px;
    top: -5px;
}

/* Y-JS SELECTION STYLES END */
